<footer class="footer">
        <div class="footer__container container">
          <div class="footer__main">
            <div class="footer__info">
              <div class="footer__brand">
                <img
                  class="footer__brand-logo"
                  src="/src/assets/footer/logo.svg"
                  alt="whitepace logo"
                />
                <h3 class="footer__brand-title">whitepace</h3>
              </div>
              <p class="footer__brand-desc">
                whitepace was created for the new ways we live and work. We make beautifully
                designed around the world
              </p>
            </div>

            <nav class="footer__nav">
              <div class="footer__nav-col">
                <h4 class="footer__nav-title">Product</h4>
                <ul class="footer__nav-list">
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Overview</a>
                  </li>
                  <li class="footer__nav-item"><a href="#" class="footer__nav-link">Pricing</a></li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Customer stories</a>
                  </li>
                </ul>
              </div>
              <div class="footer__nav-col">
                <h4 class="footer__nav-title">Resources</h4>
                <ul class="footer__nav-list">
                  <li class="footer__nav-item"><a href="#" class="footer__nav-link">Blog</a></li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Guides & tutorials</a>
                  </li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Help center</a>
                  </li>
                </ul>
              </div>
              <div class="footer__nav-col">
                <h4 class="footer__nav-title">Company</h4>
                <ul class="footer__nav-list">
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">About us</a>
                  </li>
                  <li class="footer__nav-item"><a href="#" class="footer__nav-link">Careers</a></li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Media kit</a>
                  </li>
                </ul>
              </div>
            </nav>

            <div class="footer__cta">
              <h3 class="footer__cta-title">Try It Today</h3>
              <p class="footer__cta-desc">
                Get started for free. Add your whole team as your needs grow.
              </p>
              <button class="btn btn--primary footer__cta-btn">
                Start today
                <img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
              </button>
            </div>
          </div>

          <div class="footer__bottom">
            <ul class="footer__legal-list">
              <li class="footer__legal-item">
                <p>
                  <img src="/src/assets/footer/International.svg" alt="Globe icon representing language selection" />
                  English
                  <button class="footer__language-button">
                  <img src="/src/assets/footer/down-arrow.svg" alt="Down arrow icon for language selection" />
                  </button>
                </p>
              </li>
              <li class="footer__legal-item">Terms & privacy</li>
              <li class="footer__legal-item">Security</li>
              <li class="footer__legal-item">Status</li>
              <li class="footer__legal-item">©2026 Whitepace Inc.</li>
            </ul>
            <div class="footer__socials">
              <ul class="footer__socials-list">
                <li class="footer__socials-item">
                  <a href="#" class="footer__socials-link"
                    ><img src="/src/assets/footer/facebook-icon.svg" alt="Facebook social media link"
                  /></a>
                </li>
                <li class="footer__socials-item">
                  <a href="#" class="footer__socials-link"
                    ><img src="/src/assets/footer/twitter-icon.svg" alt="Twitter social media link"
                  /></a>
                </li>
                <li class="footer__socials-item">
                  <a href="#" class="footer__socials-link"
                    ><img src="/src/assets/footer/linkedin-icon.svg" alt="LinkedIn social media link"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>