<header class="header">
      <div class="container header__container">
        <a href="/" class="header__logo">
          <img class="header__logotype" src="./src/assets/header/logo.svg" alt="whitepace" />
          <span class="header__name">whitepace</span>
        </a>

        <div class="header__wrapper-second">
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">
                  Products
                  <img src="./src/assets/general/down-arrow.svg" alt="" class="nav__arrow" />
                </a>

                <ul class="nav__submenu">
                  <li><a href="#">Product 1</a></li>
                  <li><a href="#">Product 2</a></li>
                  <li><a href="#">Product 3</a></li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">
                  Solutions
                  <img src="./src/assets/general/down-arrow.svg" alt="" class="nav__arrow" />
                </a>

                <ul class="nav__submenu">
                  <li><a href="#">Solution 1</a></li>
                  <li><a href="#">Solution 2</a></li>
                  <li><a href="#">Solution 3</a></li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">
                  Resources
                  <img src="./src/assets/general/down-arrow.svg" alt="" class="nav__arrow" />
                </a>

                <ul class="nav__submenu">
                  <li><a href="#">Resource 1</a></li>
                  <li><a href="#">Resource 2</a></li>
                  <li><a href="#">Resource 3</a></li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">
                  Pricing
                  <img src="./src/assets/general/down-arrow.svg" alt="" class="nav__arrow" />
                </a>

                <ul class="nav__submenu">
                  <li><a href="#">Pricing 1</a></li>
                  <li><a href="#">Pricing 2</a></li>
                  <li><a href="#">Pricing 3</a></li>
                </ul>
              </li>
            </ul>
          </nav>

          <div class="header__wrapper">
            <div class="header__actions actions">
              <a class="actions__btn actions__btn--login" href="https://danilach01.github.io/FamilyQuest" target="_blank">Login</a>
              <a class="btn btn--primary header__btn" href="https://danilach01.github.io/FamilyQuest" target="_blank">
                Try Whitepace free
                <img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
              </a>
            </div>

            <button class="header__menu-btn">
              <img src="./src/assets/header/menu-button.svg" alt="Open menu" />
            </button>
          </div>
        </div>
      </div>
    </header>