<section class="hero">
      <div class="container hero__container">
        <div class="hero__content">
          <div class="hero__content-wrapper">
            <h1 class="hero__title">Get More Done with whitepace</h1>
            <p class="hero__description">
              Project management software that enables your teams to collaborate, plan, analyze and
              manage everyday tasks
            </p>
          </div>
          <div class="hero__button-wrapper">
            <button class="btn btn--primary">
              Try TasKey Free<img
                src="./src/assets/general/right-arrow.svg"
                alt=""
                class="btn__icon"
              />
            </button>
          </div>
        </div>
        <div class="hero__image-container">
          <picture class="hero__image">
            <source
              srcset="./src/assets/hero/desktop-lg-image-container.png"
              media="(min-width: 1920px)"
            />

            <source
              srcset="./src/assets/hero/desktop-md-image-container.png"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./src/assets/hero/desktop-sm-image-container.png"
              media="(min-width: 1152px)"
            />

            <source
              srcset="./src/assets/hero/tablet-image-container.png"
              media="(min-width: 768px)"
            />
            <img
              src="./src/assets/hero/mobile-image-container.png"
              alt="Hero Image"
              class="hero__image"
            />
          </picture>
        </div>
      </div>
    </section>