<section class="section-second">
      <div class="container section-second__container">
        <div class="section-second__content">
          <div class="section-second__content-wrapper">
            <h2 class="section-second__title">Project Management</h2>
            <p class="section-second__description">
              Images, videos, PDFs and audio files are supported. Create math expressions and
              diagrams directly from the app. Take photos with the mobile app and save them to a
              note.
            </p>
          </div>
          <div class="section-second__button-wrapper">
            <button class="btn btn--primary">
              Get Started<img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
            </button>
          </div>
        </div>
        <div class="section-second__image-container">
          <picture class="section-second__image">
            <source
              srcset="./src/assets/section-second/desktop-lg-image-container.png"
              media="(min-width: 1920px)"
            />

            <source
              srcset="./src/assets/section-second/desktop-md-image-container.png"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./src/assets/section-second/desktop-sm-image-container.png"
              media="(min-width: 1152px)"
            />

            <source
              srcset="./src/assets/section-second/tablet-image-container.png"
              media="(min-width: 768px)"
            />
            <img
              src="./src/assets/section-second/mobile-image-container.png"
              alt="section-second Image"
              class="section-second__image"
            />
          </picture>
        </div>
      </div>
    </section>