<section class="section-nineth">
        <div class="section-nineth__container container">
          <img class="section-nineth__image" src="./src/assets/section-nineth/section-image.svg" alt="Section Nineth Image">
          <div class="section-nineth__wrapper">
          <div class="section-nineth__content">
            <h2 class="section-nineth__title">Work with Your Favorite Apps Using whitepace</h2>
            <p class="section-nineth__description">Whitepace teams up with your favorite software. Integrate with over 1000+ apps with Zapier to have all the tools you need for your project success.</p>
            </div>
            <a class="btn btn--primary" href="https://danilach01.github.io/FamilyQuest" target="_blank">
              Read more
              <img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
            </a>
            </div>
        </div>
      </section>