<section class="section-eighth">
        <div class="section-eighth__container container">
          <h3 class="section-eighth__title">Our sponsors</h3>
          <ul class="section-eighth__list">
            <li class="section-eighth__item">
              <a href="https://www.apple.com/" target="_blank"
                ><img class="section-eighth__logo section-eighth__logo--apple"
                  src="./src/assets/section-eighth/mobile-apple-icon.svg"
                  alt="Apple logo, sponsor"
              /></a>
            </li>
            <li class="section-eighth__item">
              <a href="https://www.microsoft.com/" target="_blank"
                ><img class="section-eighth__logo section-eighth__logo--microsoft"
                  src="./src/assets/section-eighth/mobile-microsoft-icon.svg"
                  alt="Microsoft logo, sponsor"
              /></a>
            </li>
            <li class="section-eighth__item">
              <a href="https://slack.com/" target="_blank"
                ><img class="section-eighth__logo section-eighth__logo--slack"
                  src="./src/assets/section-eighth/mobile-slack-icon.svg"
                  alt="Slack logo, sponsor"
              /></a>
            </li>
            <li class="section-eighth__item">
              <a href="https://www.google.com/" target="_blank"
                ><img class="section-eighth__logo section-eighth__logo--google"
                  src="./src/assets/section-eighth/mobile-google-icon.svg"
                  alt="Google logo, sponsor"
              /></a>
            </li>
          </ul>
        </div>
      </section>