<section class="section-sixth">
      <div class="container section-sixth__container">
        <div class="section-sixth__content">
          <div class="section-sixth__wrapper">
            <h2 class="section-sixth__title">
              Your work, everywhere
              <span class="section-sixth__title section-sixth__title-span">you&nbsp;are</span> <!-- notice -->
            </h2>
            <p class="section-sixth__description">
              Access your notes from your computer, phone or tablet by synchronising with various
              services, including whitepace, Dropbox and OneDrive. The app is available on Windows,
              macOS, Linux, Android and iOS. A terminal app is also available!
            </p>
          </div>
          <button class="btn btn--primary">
            Try Taskey
            <img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
          </button>
        </div>
      </div>
    </section>