<section class="section-tenth">
  <div class="section-tenth__container container">
    <div class="section-tenth__content">
      <h2 class="section-tenth__title">See what our trusted users Say</h2>
    </div>
    <div class="section-tenth__user-board">
      <div class="review">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="section-tenth__user-card user-card">
              <div class="user-card__review">
                <img
                  src="/src/assets/section-tenth/user-pfp-icon-1.png"
                  alt="Profile picture of user giving testimonial"
                  class="user-card__pfp"
                />
                <p class="user-card__quote">
                  “If you haven’t tried whitepace yet, you need to give it a shot for your next
                  event. It’s so easy and intuitive to get a new event setup and if you need any
                  help their customer service is seriously amazing.”
                </p>
              </div>

              <div class="user-card__info">
                <div class="user-card__details">
                  <p class="user-card__name">Jessie Owner</p>
                  <p class="user-card__position">Founder, XYZ Company</p>
                </div>

                <ul class="user-card__rating-list">
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="section-tenth__user-card user-card">
              <div class="user-card__review">
                <img
                  src="/src/assets/section-tenth/user-pfp-icon-2.png"
                  alt="Profile picture of user giving testimonial"
                  class="user-card__pfp"
                />
                <p class="user-card__quote">
                  “If you haven’t tried whitepace yet, you need to give it a shot for your next
                  event. It’s so easy and intuitive to get a new event setup and if you need any
                  help their customer service is seriously amazing.”
                </p>
              </div>

              <div class="user-card__info">
                <div class="user-card__details">
                  <p class="user-card__name">Jessie Owner</p>
                  <p class="user-card__position">Founder, XYZ Company</p>
                </div>
                <ul class="user-card__rating-list">
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="section-tenth__user-card user-card">
              <div class="user-card__review">
                <img
                  src="/src/assets/section-tenth/user-pfp-icon-1.png"
                  alt="Profile picture of user giving testimonial"
                  class="user-card__pfp"
                />
                <p class="user-card__quote">
                  “If you haven’t tried whitepace yet, you need to give it a shot for your next
                  event. It’s so easy and intuitive to get a new event setup and if you need any
                  help their customer service is seriously amazing.”
                </p>
              </div>

              <div class="user-card__info">
                <div class="user-card__details">
                  <p class="user-card__name">Jessie Owner</p>
                  <p class="user-card__position">Founder, XYZ Company</p>
                </div>

                <ul class="user-card__rating-list">
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="section-tenth__user-card user-card">
              <div class="user-card__review">
                <img
                  src="/src/assets/section-tenth/user-pfp-icon-3.png"
                  alt="Profile picture of user giving testimonial"
                  class="user-card__pfp"
                />
                <p class="user-card__quote">
                  “If you haven’t tried whitepace yet, you need to give it a shot for your next
                  event. It’s so easy and intuitive to get a new event setup and if you need any
                  help their customer service is seriously amazing.”
                </p>
              </div>

              <div class="user-card__info">
                <div class="user-card__details">
                  <p class="user-card__name">Jessie Owner</p>
                  <p class="user-card__position">Founder, XYZ Company</p>
                </div>

                <ul class="user-card__rating-list">
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

<div class="swiper-slide">
            <div class="section-tenth__user-card user-card">
              <div class="user-card__review">
                <img
                  src="/src/assets/section-tenth/user-pfp-icon-1.png"
                  alt="Profile picture of user giving testimonial"
                  class="user-card__pfp"
                />
                <p class="user-card__quote">
                  “If you haven’t tried whitepace yet, you need to give it a shot for your next
                  event. It’s so easy and intuitive to get a new event setup and if you need any
                  help their customer service is seriously amazing.”
                </p>
              </div>

              <div class="user-card__info">
                <div class="user-card__details">
                  <p class="user-card__name">Jessie Owner</p>
                  <p class="user-card__position">Founder, XYZ Company</p>
                </div>

                <ul class="user-card__rating-list">
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                  <li class="user-card__rating-item">
                    <img src="/src/assets/section-tenth/star-icon.svg" alt="Star rating icon" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="review-navigation">
    <button class="review-btn-prev">
      <img src="/src/assets/general/btn-left-arrow.svg" alt="Previous slide">
    </button>
    <button class="review-btn-next">
      <img src="/src/assets/general/btn-right-arrow.svg" alt="Next slide">
    </button>
  </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
