<section class="section-fifth">
      <div class="section-fifth__container container">
        <div class="section-fifth__content">
          <h2 class="section-fifth__title">Choose Your Plan</h2>
          <p class="section-fifth__description">
            Whether you want to get organized, keep your personal life on track, or boost workplace
            productivity, Evernote has the right plan for you.
          </p>
        </div>
        <div class="section-fifth__price-board">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="section-fifth__price-card price-card">
                  <div class="price-card__header">
                    <h3 class="price-card__title">Free</h3>
                    <p class="price-card__price">$0</p>
                    <p class="price-card__description">Capture ideas and find them quickly</p>
                  </div>

                  <ul class="price-card__features">
                    <li class="price-card__feature">Sync unlimited devices</li>
                    <li class="price-card__feature">10 GB monthly uploads</li>
                    <li class="price-card__feature">200 MB max. note size</li>
                    <li class="price-card__feature">
                      Customize Home dashboard and access extra widgets
                    </li>
                    <li class="price-card__feature">Connect primary Google Calendar account</li>
                    <li class="price-card__feature">
                      Add due dates, reminders, and notifications to your tasks
                    </li>
                  </ul>
                  <a class="btn btn--primary price-card__button" href="https://danilach01.github.io/FamilyQuest" target="_blank">Get Started</a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="section-fifth__price-card price-card price-card--featured">
                  <div class="price-card__header">
                    <h3 class="price-card__title">Personal</h3>
                    <p class="price-card__price">$11.2</p>
                    <p class="price-card__description">Keep home and family on track</p>
                  </div>

                  <ul class="price-card__features">
                    <li class="price-card__feature">Sync unlimited devices</li>
                    <li class="price-card__feature">10 GB monthly uploads</li>
                    <li class="price-card__feature">200 MB max. note size</li>
                    <li class="price-card__feature">
                      Customize Home dashboard and access extra widgets
                    </li>
                    <li class="price-card__feature">Connect primary Google Calendar account</li>
                    <li class="price-card__feature">
                      Add due dates, reminders, and notifications to your tasks
                    </li>
                  </ul>
                  <a class="btn btn--primary price-card__button" href="https://danilach01.github.io/FamilyQuest" target="_blank">Get Started</a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="section-fifth__price-card price-card">
                  <div class="price-card__header">
                    <h3 class="price-card__title">Organization</h3>
                    <p class="price-card__price">$49.99</p>
                    <p class="price-card__description">Capture ideas and find them quickly</p>
                  </div>

                  <ul class="price-card__features">
                    <li class="price-card__feature">Sync unlimited devices</li>
                    <li class="price-card__feature">10 GB monthly uploads</li>
                    <li class="price-card__feature">200 MB max. note size</li>
                    <li class="price-card__feature">
                      Customize Home dashboard and access extra widgets
                    </li>
                    <li class="price-card__feature">Connect primary Google Calendar account</li>
                    <li class="price-card__feature">
                      Add due dates, reminders, and notifications to your tasks
                    </li>
                  </ul>
                  <a class="btn btn--primary price-card__button" href="https://danilach01.github.io/FamilyQuest" target="_blank">Get Started</a>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>