<section class="section-third">
      <div class="container section-third__container">
        <div class="section-third__content">
          <div class="section-third__content-wrapper">
            <h2 class="section-third__title">Work together</h2>
            <p class="section-third__description">
              With whitepace, share your notes with your colleagues and collaborate on them. You can
              also publish a note to the internet and share the URL with others.
            </p>
          </div>
          <div class="section-third__button-wrapper">
            <button class="btn btn--primary">
              Try it now<img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
            </button>
          </div>
        </div>
        <div class="section-third__image-container">
          <picture class="section-third__image">
            <source
              srcset="./src/assets/section-third/desktop-lg-image.png"
              media="(min-width: 1920px)"
            />

            <source
              srcset="./src/assets/section-third/desktop-md-image.png"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./src/assets/section-third/desktop-sm-image.png"
              media="(min-width: 1152px)"
            />

            <source
              srcset="./src/assets/section-third/tablet-image.png"
              media="(min-width: 768px)"
            />
            <img
              src="./src/assets/section-third/mobile-image.png"
              alt="section-third Image"
              class="section-third__image"
            />
          </picture>
        </div>
      </div>
    </section>