<section class="section-fourth">
      <div class="container section-fourth__container">
        <div class="section-fourth__content">
          <div class="section-fourth__content-wrapper">
            <h2 class="section-fourth__title">Customise it to your needs</h2>
            <p class="section-fourth__description">
              Customise the app with plugins, custom themes and multiple text editors (Rich Text or
              Markdown). Or create your own scripts and plugins using the Extension API.
            </p>
          </div>
          <div class="section-fourth__button-wrapper">
            <button class="btn btn--primary">
              Let’s Go<img src="./src/assets/general/right-arrow.svg" alt="" class="btn__icon" />
            </button>
          </div>
        </div>
        <div class="section-fourth__image-container">
          <picture class="section-fourth__image">
            <source
              srcset="./src/assets/section-fourth/desktop-lg-image-container.png"
              media="(min-width: 1920px)"
            />

            <source
              srcset="./src/assets/section-fourth/desktop-md-image-container.png"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./src/assets/section-fourth/desktop-sm-image-container.png"
              media="(min-width: 1152px)"
            />

            <source
              srcset="./src/assets/section-fourth/tablet-image-container.png"
              media="(min-width: 768px)"
            />
            <img
              src="./src/assets/section-fourth/mobile-image-container.png"
              alt="section-fourth Image"
              class="section-fourth__image"
            />
          </picture>
        </div>
      </div>
    </section>