<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>New Project</title>
  </head>
  <body>
    <%- include('header') %> <%- include('hero') %> <%- include('section-second') %> <%-
    include('section-third') %> <%- include('section-fourth') %> <%- include('section-fifth') %> <%-
    include('section-sixth') %> <%- include('section-seventh') %> <%- include('section-eighth') %>
    <%- include('section-nineth') %> <%- include('section-tenth') %> <%- include('footer') %>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
