@use '../utils/variables' as *;
@use 'sass:color';

.header {
  display: flex;
  justify-content: center;
  background-color: $color-white;
  padding: 16px 0;

  &__btn {
    display: none;
    height: 60px;
    padding: 16px 24px;

    @include desktop-sm {
      display: inline-flex;
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;

    @include tablet {
      padding: 0 32px;
    }

    @include desktop-lg {
      padding: 0 220px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include desktop-sm {
      gap: 15px;
    }
  }

  &__wrapper-second {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-blue;

    @include tablet {
    }
  }

  &__logotype {
    width: 25px;
    height: 20px;

    @include tablet {
      width: 35px;
      height: 28px;
    }
  }

  &__name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;

    @include tablet {
      font-size: 28px;
    }
  }

  &__nav {
    display: none;

    @include desktop-md {
      display: block;
    }
  }

  .nav__list {
    display: flex;
    white-space: nowrap;
    gap: 32px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $color-blue;
  }

  .nav__item {
    position: relative;

    &:hover {
      .nav__submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      .nav__arrow {
        transform: translateY(2px);
        // opacity: 1;
        // visibility: visible;
        // transform: translateY(0px);
      }
    }

    .nav__arrow {
      transform: translateY(0px);
      // transform: translateY(-3px);
      // opacity: 0;
      // visibility: hidden;
      transition: all 0.3s ease;
    }
  }

  .nav__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: $color-white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 4px;
    z-index: 100;

    opacity: 0;
    outline: 1px solid #0039ff1c;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    li {
      width: 100%;

      a {
        display: block;
        padding: 10px 5px;
        text-align: center;
        color: $color-blue;
        font-size: 14px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba($color-blue, 0.05);
        }
      }
    }
  }

  .nav__link {
    display: flex;
    gap: 10px;
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;

    @include desktop-md {
      display: none;
    }
  }
}

.actions {
  display: flex;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;

  &__btn {
    display: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: color.adjust($color-yellow, $lightness: -10%);
      transform: translateY(-2px);
    }

    @include desktop-sm {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 8px;
    }

    &--login {
      width: auto;
      height: 60px;
      padding: 16px 40px;
      background-color: $color-yellow;
      color: $color-dark-blue;
    }

    &--try {
      display: none;

      @include desktop-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background-color: $color-blue;
        color: $color-white;
        gap: 10px;
      }

      img {
        width: 10px;
        height: auto;
        flex-shrink: 0;
      }
    }
  }
}
