@use '../utils/variables' as *;

.section-third {
  display: flex;
  background-color: $color-white;
  height: 815px;
  padding: 80px 16px;

  @include tablet {
    height: calc(790px + 240px);
    padding: 140px 20px 100px;
  }

  @include desktop-sm {
    height: calc(490px + 150px);
    padding: 50px 32px 100px;
  }

  @include desktop-md {
    height: calc(545px + 150px);
    justify-content: center;
  }

  @include desktop-lg {
    align-items: center;
    height: calc(660px + 210px);
    padding: 100px 220px 110px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: calc(1440px - 64px);
    width: 100%;
    align-items: center;
    height: 100%;

    @include tablet {
      gap: 100px;
    }

    @include desktop-sm {
      flex-direction: row-reverse;
      height: 540px;
      gap: 90px;
    }

    @include desktop-md {
      height: 100%;
    }

    @include desktop-lg {
      max-width: 1480px;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;

    @include desktop-sm {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    color: $color-black;
    //gap: 24px; --removed for background image spacing--
  }

  &__button-wrapper {
    display: flex;
    justify-self: center;
    gap: 16px;
  }

  &__title {
    height: 65px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    padding-bottom: 24px;
    background-image: url('/src/assets/section-third/mobile-text-background.png');
    background-repeat: no-repeat;
    background-position: 128px 16px;

    @include tablet {
      height: 75px;
      font-size: 54px;
      background-image: url('/src/assets/section-third/tablet-text-background.png');
      background-position: 330px 42px;
    }

    @include desktop-sm {
      height: calc(78px + 24px);
      font-size: 64px;
      background-image: url('/src/assets/section-third/desktop-sm-text-background.png');
      background-position: 190px 35px;
    }

    @include desktop-md {
      height: 88px;
      font-size: 72px;
      background-image: url('/src/assets/section-third/desktop-md-text-background.png');
      background-position: 0px 128px;
    }

    @include desktop-lg {
      height: calc(88px + 24px);
      background-image: url('/src/assets/section-third/desktop-lg-text-background.png');
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  &__image {
    max-width: fit-content;
  }

  .btn--primary {
    @include tablet {
      font-weight: 500;
      line-height: 100%;
      size: 16px;
      height: 60px;
    }

    @include desktop-sm {
      line-height: 24px;
      size: 18px;
      height: 65px;
    }
  }
}
