@use '../utils/variables' as *;

.section-second {
  display: flex;
  background-image: url('/src/assets/section-second/mobile-background.svg');
  background-position: 0px 30px;
  background-repeat: no-repeat;
  background-color: $color-white;
  height: 815px;
  padding: 80px 16px;

  @include tablet {
    background-image: url('/src/assets/section-second/tablet-background.svg');
    background-position: 0px 60px;
    height: 1050px;
    padding: 140px 20px 100px;
  }

  @include desktop-sm {
    background-image: url('/src/assets/section-second/desktop-sm-background.svg');
    background-position: 0px 45px;
    height: 640px;
    padding: 140px 32px 100px;
  }

  @include desktop-md {
    background-image: url('/src/assets/section-second/desktop-md-background.svg');
    background-position: 0px 0px;
    height: calc(450px + 240px);
    justify-content: center;
  }

  @include desktop-lg {
    background-image: url('/src/assets/section-second/desktop-lg-background.svg');
    background-position: 0px 260px;
    height: 830px;
    padding: 140px 220px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: calc(1440px - 64px);
    width: 100%;
    align-items: center;
    height: 100%;

    @include desktop-sm {
      flex-direction: row;
      gap: 90px;
    }

    @include desktop-md {
      height: 450px;
    }

    @include desktop-lg {
      max-width: 1480px;
      height: 550px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;

    @include desktop-sm {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    color: $color-black;
    //gap: 24px; --removed for background image spacing--
  }

  &__button-wrapper {
    display: flex;
    justify-self: center;
    gap: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
    // padding-bottom: 24px;
    // background-image: url('/src/assets/section-second/mobile-text-background.png');
    // background-repeat: no-repeat;
    // background-position: 30px 58px;

    @include tablet {
      font-size: 54px;
    }

    @include desktop-sm {
      // height: 155px;
      font-size: 64px;
    }

    @include desktop-md {
      // height: 175px;
      font-size: 72px;
    }

    span {
      padding-bottom: 24px;

      background-image: url('/src/assets/section-second/mobile-text-background.svg');
      background-repeat: no-repeat;
      background-position: 2px 26px;

      @include tablet {
        background-image: url('/src/assets/section-second/tablet-text-background.svg');
        background-position: 0px 45px;
      }

      @include desktop-sm {
        padding-right: 15px;
        background-image: url('/src/assets/section-second/desktop-sm-text-background.svg');
        background-position: 195px 58px;
      }

      @include desktop-md {
        padding-right: 45px;
        background-image: url('/src/assets/section-second/desktop-md-text-background.svg');
        background-position: 0px 63px;
      }

      @include desktop-lg {
        background-image: url('/src/assets/section-second/desktop-lg-text-background.svg');
        background-position: 0px 30px;
      }
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  &__image {
    max-width: fit-content;
  }

  .btn--primary {
    @include tablet {
      font-weight: 500;
      line-height: 100%;
      size: 16px;
      // height: 60px;
    }

    @include desktop-sm {
      line-height: 24px;
      size: 18px;
      // height: 65px;
    }
  }
}
