@use '../utils/variables' as *;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter';
}

.container {
  width: 100%;
  // max-width: calc(1440px - 32px);
  max-width: 1440px;

  @include desktop-lg {
    max-width: 1480px !important;
    padding: 0 !important;
  }
}

header,
section {
  // outline: 1px solid #919191;
  // Temporary outline for development, to be removed later
}

.hiden-sections {
  // display: none;
}
